$pink: #ff9697;
$light-gray: #e2e2e2;
$gray: #8b8b8b;

header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .header__title {
    color: $pink;
  }
}

nav {
  .nav__navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-around;
    .nav__naviagtion--nav-text {
      color: $gray;
      text-decoration: none;
      font-size: 1.2rem;
      // &:nth-child(n + 2) {
      //   margin-left: 10rem;
      // }
      &:hover {
        color: $pink;
      }
    }
  }
}
